.vinture-navigation {
  border: 1px solid #000000;

  border-radius: 0.2vw;
  width: 100% !important;
  padding: 2% 3% 0 3% !important;
  background-color: rgb(255, 255, 255);
}
.vinture-nav-hover {
  border: 2px solid #34c9b5;

  border-radius: 0.2vw;
  width: 100% !important;
  padding: 2% 3% 0 3% !important;
  background-color: rgb(255, 255, 255);
}
.bg-medium-turquoise {
  background-color: #34c9b5;
  border-radius: 0.9vw;
}
.bg-ivory {
  background-color: #fff8e6;
  border-radius: 0.9vw;
}
.bg-flame-red {
  background-color: #e34d32;
  border-radius: 0.9vw;
}
.vinture-button {
  border: 1px solid rgb(0, 0, 0);
  height: 2vh;
  width: 50%;
  border-radius: 0.9vw;
}
.vinture-wireframe-col {
  height: 50vh;
  border: 1px solid rgb(0, 0, 0);
}
.vinture-chair {
  border: 1px solid black;
  width: 70%;
  height: 50%;
  border-radius: 50%;
}
.vinture-chair-mobile {
  border: 1px solid black;
  width: 95%;
  height: 42%;
  border-radius: 50%;
}
.vinture-chair-two {
  border: 1px solid black;
  width: 80%;
  height: 70%;
  border-radius: 45%;
}
.vinture-frame {
  height: 50vh;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 0.9vw;
}
.vinture-img-frame{
   border: 2px solid rgb(0, 0, 0);
  border-radius: 0.9vw;
}
