:root {
  --main-color: rgb(#e35d3d);
}

.nous-main {
  color: #970045;
}
.nous-second {
  color: #2E3B48;
}
.bg-nous-main {
  border-radius: 0.6vw;
 background-color: #970045;
}
.bg-nous-second {
  border-radius: 0.6vw;
  background-color: #2E3B48;
}
.bg-nous-third{
  border-radius: 0.6vw;
  background-color: #FCF3EA;
}
.nous-round {
  height: auto;
  width: 50vw;
}
.header-nous-holder {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 0.6vw;
  padding: 9rem 5rem 12rem 5rem !important;
}
.nous-mobile {
  height: auto;
  width: 14vw;
}
.nous-img-goals {
  height: auto;
  width: 15vw;
  border-radius: 0.6vw;
}
.side-map-abaut {
  border: 2px solid #970045;

  border-radius: 0.7vw;
  width: 100% !important;
  padding: 2% 3% 0 3% !important;
  background-color: rgb(255, 255, 255);
}
.side-map-services {
  border: 2px solid #2E3B48;

  border-radius: 0.7vw;
  width: 100% !important;
  padding: 2% 3% 0 3% !important;
  background-color: rgb(255, 255, 255);
}
.side-map-nouus {
  border: 1px solid #757575;

  border-radius: 0.7vw;
  width: 100% !important;
  padding: 2% 3% 0 3% !important;
  background-color: rgb(255, 255, 255);
}
