.profile {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--second-bg-color);
  /* border: 1px solid blueviolet; */
}
#profile{
  position: relative;
    height: 100vh;
 
    /* border: 1px solid rgb(0, 255, 98); */
}
.profile-img {
  background-image: url(/images/Petrov_TihomirSB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: -7vw 13vh; */
  background-position: center;
  border-radius: 0.9vw;

  height: 60vh;
}
.profile-holder {
  position: relative;
  z-index: 4;
  width: 55vw;
  /* border: 1px solid rgb(18, 27, 252); */
  border-radius: 0.9vw;
  background-color: var(--second-bg-color);
  /* -webkit-box-shadow: 1px 1px 0px 1px rgba(18, 27, 252, 0.97);
  box-shadow: 1px 1px 0px 1px rgba(18, 27, 252, 0.97); */
}
.profile-text-holder {
  /* border: 1px solid var(--main-bg-color); */
  /* color: var(--main-bg-color); */
  border-radius: 0.9vw;
  /* background-color: var(--second-bg-color); */
}
/* .profile-text {
  font-weight: 700 !important;
} */
.profile-between {
  width: 0.7vw;
  background: rgb(4, 9, 0);

  /* border: 1px solid red; */
}
.profile-between-top {
  height: 6%;
  width: 100%;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  background-color: var(--second-bg-color);
}
.profile-between-bottom {
  border-top-left-radius: 0.3vw;
  border-top-right-radius: 0.3vw;
  height: 94%;
  width: 100%;
  background-color: var(--second-bg-color);
}
.profile-text-one {
  /* background: rgb(4, 9, 0);
  background: linear-gradient(
    90deg,
    rgba(4, 9, 0, 1) 0%,
    rgba(13, 17, 118, 1) 46%,
    rgba(4, 9, 0, 1) 100%
  ); */

  background: rgb(18, 27, 252);
  background: radial-gradient(
    circle,
    rgba(18, 27, 252, 1) 0%,
    rgba(4, 9, 0, 1) 100%
  );
  border-radius: 0.9vw;
  color: var(--text-white-color);
  /* border: 1px solid var(--main-bg-color); */
}
.profile-text-two {
  background-color: var(--second-bg-color);
  border-radius: 0.9vw;
  border: 1px solid var(--main-bg-color);
}
.profile-text-three {
  background-color: var(--second-bg-color);
  border-radius: 0.9vw;
  border: 1px solid var(--main-bg-color);
}
#bright {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

  background:  var(--second-bg-color);
  background: radial-gradient(
    circle,
    rgb(253, 251, 237,0.6),
   rgb(253, 251, 236,0.2)
  );
  
}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #profile{
    height:200vh;
}
  .profile {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: var(--second-bg-color);
}
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .profile {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: var(--second-bg-color);
}
}