#profile {
  position: relative;
  height: 100%;

  /* border: 1px solid rgb(0, 255, 98); */
}
.profile {
  position: relative;
  height: 100%;
  width: 100vw;

  background: rgb(141, 199, 69);
  background: radial-gradient(
    circle,
    rgba(141, 199, 69, 1) 0%,
    rgba(141, 199, 69, 0.8) 8%,
    rgb(0, 0, 0) 35%,
    rgb(0, 0, 0) 100%
  );
  padding: 15vh 0vw 15vh 0vw;
}

.profile-img {
  background-image: url(/images/Petrov_TihomirSB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: -7vw 13vh; */
  background-position: center;
  border-radius: 0.9vw;
  height: 60vh;
  width: 22vw;
  border: 1px solid rgb(141, 199, 69, 0.5);
  -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
  box-shadow: inset 5px 6px 4px -6px #5a5a5a;
}
.profile-holder {
  position: relative;
  z-index: 4;
  border-radius: 0.9vw;
}
.profile-text-holder {
  border-radius: 0.9vw;
}

.profile-text-one {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.9vw;
  color: var(--second-bg-color);
  border: 1px solid rgba(141, 199, 69, 0.5);
  backdrop-filter: blur(30px);
  -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
  box-shadow: inset 5px 6px 4px -6px #5a5a5a;
}
.profile-text-two {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.9vw;
  color: var(--second-bg-color);
  border: 1px solid rgba(141, 199, 69, 0.5);
  backdrop-filter: blur(30px);
  -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
  box-shadow: inset 5px 6px 4px -6px #5a5a5a;
}
.profile-text-holder-two {
  margin-top: 40vh;
}

#bright {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 3;

  background: var(--second-bg-color);
  background: radial-gradient(
    circle,
    rgb(253, 251, 237, 0.6),
    rgb(253, 251, 236, 0.2)
  );
}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .profile {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--second-bg-color);
    /* border: 1px solid blueviolet; */
  }
  .profile-holder {
    position: relative;
    z-index: 4;
    width: 100%;
    /* border: 1px solid rgb(18, 27, 252); */
    border-radius: 0.9vw;
    /* background-color: var(--second-bg-color); */
    min-height: 80vh; /* Verhindert, dass es kleiner als 80% des Viewports wird */
  }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .profile-text-holder-two {
    margin-top: 0vh;
}
  .profile {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--second-bg-color);
    /* border: 1px solid blueviolet; */
  }
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
 
  .profile {
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--second-bg-color);
    /* border: 1px solid blueviolet; */
  }
  .profile-holder {
    position: relative;
    z-index: 4;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.9vw;
    /* background-color: var(--second-bg-color); */
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 80vh; /* Verhindert, dass es kleiner als 80% des Viewports wird */
  }
.profile-img {
  background-image: url(/images/Petrov_TihomirSB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: -7vw 13vh; */
  background-position: center;
  border-radius: 0.9vw;
  height: 90vh;
  width: 48vw;
  border: 1px solid rgb(141, 199, 69, 0.5);
  -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
  box-shadow: inset 5px 6px 4px -6px #5a5a5a;
}
 .profile-text-holder-two {
  margin-top: 10vh;
}
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .profile-text-holder-two {
  margin-top: 4vh;
}
  .profile-holder {
    position: relative;
    z-index: 4;
    width: 100vw;
    border: 1px solid transparent;
    border-radius: 0.9vw;
    /* background-color: var(--second-bg-color); */
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .profile-img {
    background-image: url(/images/Petrov_TihomirSB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -7vw 13vh;
    background-position: center;
    border-radius: 1.9vw;
    height: 60vh;
    width: 92%;
  }
  .profile-text-one {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1.9vw;
    color: var(--second-bg-color);
    border: 1px solid rgba(141, 199, 69, 0.5);
    backdrop-filter: blur(30px);
    -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
    box-shadow: inset 5px 6px 4px -6px #5a5a5a;
  }
  .profile-text-two {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1.9vw;
    color: var(--second-bg-color);
    border: 1px solid rgba(141, 199, 69, 0.5);
    backdrop-filter: blur(30px);
    -webkit-box-shadow: inset 5px 4px 7px -6px #5a5a5a;
    box-shadow: inset 5px 6px 4px -6px #5a5a5a;
  }

  #profile {
    height: auto;
  }
  .profile {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--second-bg-color);
    padding: 5vh 0vw 5vh 0vw;
  }
  #bright {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 3;

    background: var(--second-bg-color);
    background: radial-gradient(
      circle,
      rgb(253, 251, 237, 0.6),
      rgb(253, 251, 236, 0.2)
    );
  }
  .profile-between {
    display: none !important;
  }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .profile {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--second-bg-color);
  }
}
