.profile {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--second-bg-color);
}
.profile-img {
  background-image: url(/images/Petrov_TihomirSB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: -7vw 13vh; */
  background-position: center;
  border-radius: 0.9vw;

  height: 60.vh;
}
.profile-holder {
  position: absolute;
  z-index: 4;
  width: 55vw;
  border: 1px solid rgb(15, 35, 0, 1);
  border-radius: 0.9vw;
  background-color: rgb(252, 252, 252);
}
.profile-text-holder {
  /* border: 1px solid var(--main-bg-color); */
  /* color: var(--main-bg-color); */
  border-radius: 0.9vw;
  /* background-color: var(--second-bg-color); */
}
/* .profile-text {
  font-weight: 700 !important;
} */
.profile-between {
  width: 0.7vw;
  background: rgb(4, 9, 0);

  /* border: 1px solid red; */
}
.profile-between-top {
  height: 6%;
  width: 100%;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  background-color: rgb(252, 252, 252);
}
.profile-between-bottom {
  border-top-left-radius: 0.3vw;
  border-top-right-radius: 0.3vw;
  height: 94%;
  width: 100%;
  background-color: rgb(252, 252, 252);
}
.profile-text-one {
  /* background: rgb(4, 9, 0);
  background: linear-gradient(
    90deg,
    rgba(4, 9, 0, 1) 0%,
    rgba(13, 17, 118, 1) 46%,
    rgba(4, 9, 0, 1) 100%
  ); */

background: rgb(18,27,252);
background: radial-gradient(circle, rgba(18,27,252,1) 0%, rgba(4,9,0,1) 100%);
  border-radius: 0.9vw;
  color: var(--text-white-color);
  /* border: 1px solid var(--main-bg-color); */
}
.profile-text-two {
  background-color: var(--second-bg-color);
  border-radius: 0.9vw;
  border: 1px solid var(--main-bg-color);
}
.profile-text-three {
  background-color: var(--second-bg-color);
  border-radius: 0.9vw;
  border: 1px solid var(--main-bg-color);
}
