.projects {
  position: relative;
  height: auto;
 
  background: rgb(0, 0, 0);

}
.projects-one {
  
  height: auto;
}

.projects-img-holder {

  width: 100%;
}
.projects-img-one {
  height: auto;

}


.projects-contact-two {

  height: auto;
}

/* .img-overlay-content {
  width: 90.9vw;
  height: 96vh;
  background-color: hsl(0, 0%, 0%, 0.3);
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 6;
  transition: 0.6s;
  top: 0%;
  left: 0%;
  opacity: 1.7;
} */
/* .img-hover {
  position: relative;
  text-decoration: none;
  color: #000000;
  -webkit-box-shadow: 2px 7px 18px -10px rgb(2, 2, 5, 0.3);
  box-shadow: 2px 7px 18px -10px rgb(2, 2, 5, 0.3);

  border: solid 1px hsla(0, 0%, 3%, 0.2);
  border: solid 1px hsl(238, 82%, 64%0.2);

}

.img-hover:hover {
  position: relative;
  text-decoration: none;

}
.img-hover-zoom {
  position: relative;
  height: 100%; 
  overflow: hidden;
}


.img-hover img {
  position: relative;
  transition: transform 0.5s ease;
  border-radius: 0.9vw;
  border: 1px solid rgb(253, 251, 236, 0.3);
}

.img-hover:hover img {
  position: relative;
  transform: scale(0.9);
  filter: grayscale(0%);
  border-radius: 0.9vw;
}
.img-hover:hover .img-overlay-content {
  width: 90vw;
  height: 96vh;
  background-color: hsl(0, 0%, 0%);
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 6;
  transition: 0.6s;
  top: 0%;
  left: 0%;
  opacity: 0;
  transform: scale(0.9);
  filter: grayscale(0%);
} */
.img-hover:hover img {
  transform: scale(0.9);
  filter: grayscale(0%);
   border-radius: 0.9vw;
}
.img-hover img {
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    border-radius: 0.9vw;
      border: 1px solid rgb(253, 251, 236, 0.3);
}
.projects-title {
  color: #ffffff;
}


/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .projects {
    height: auto;
    /* background-color: #eeefe8; */
  }
  .projects-contact-two {
    border-bottom: none;
    height: 9vh;
  }
  .projects-contact-one {
    /* border-right: 1px solid rgb(10, 10, 13, 0.3); */
    height: 7vh;
  }
  .projects-contact-two {
    /* border-bottom: 1px solid rgb(10, 10, 13, 0.3); */
    height: 7vh;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .img-hover-zoom {
    height: auto;
    overflow: hidden;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }
  .projects-two {
    height: 100%;
  }
  .projects {
    height: 100%;
    /* background-color: var(--main-bg-color); */
  }
  .projects-contact-one {
    /* border-right: 1px solid rgb(10, 10, 13, 0.3); */
    height: 9vh;
  }
  .projects-contact-two {
    border-bottom: none;
    height: 9vh;
  }
  .projects-title {
    color: #ffffff;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .projects {
    height: auto !important;
    /* background-color: var(--main-bg-color); */
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .projects {
    height: auto !important;
    /* background-color: var(--main-bg-color); */
  }

 .img-hover img{
border-radius: 3.4vw;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    border: 1px solid rgb(255, 255, 255,0.5);
  }
  .img-overlay-content {
    width: 90.9vw;
    height: 0vh;
    background-color: hsl(0, 0%, 0%, 0.3);
    color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 6;
    transition: 0.6s;
    top: 0%;
    left: 0%;
    opacity: 1.7;
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
