.bg-table-one {
background-color: var(--bg-table-one) !important;
}
.bg-table-vinture {
background-color:var( --bg-table-vinture) !important;
}


.prise-table-holder {
    border-radius: 0.5vw;
    overflow: hidden;
    border: 2px solid #5600c7;
  }
.table-nous-holder {
    border-radius: 0.5vw;
    overflow: hidden;
    border: 2px solid #000000;
  }
  .price-head-table {
    /* font-size: var(--h7) !important;
    font-family: 'MontserratSemiBold'; */
  }
  
  .table > :not(caption) > * > * {
    padding: 1.1rem 0.9rem;
    color: var(
      --bs-table-color-state,
      var(--bs-table-color-type, var(--bs-table-color))
    );
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px
      var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
  }
  
  /* th {
    background-color:  #5600c7 !important;
    color: white !important;
  } */
  table {
    /* border: 2px solid var(  --second-bg-color); */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: hsl(266, 100%, 39%, 0.2) !important;
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 0rem !important;
    vertical-align: top;
    border-color: transparent !important;
    font-size: var(--font-ptb) !important;
  }

 .table-vinture {
    /* border: 2px solid var(  --second-bg-color); */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgb(52, 201, 181,0.2) !important;
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 0rem !important;
    vertical-align: top;
    border-color: transparent !important;
    font-size: var(--font-ptb) !important;
  }
  
  /* .SchadowTable {
      width: 100%;
      box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, .2); 
    
      transition: all 0.15s linear;
    
  }
  
  .SchadowTable.active {
       box-shadow: 0 0 10px rgba(0,0,0,0.4);  
      
  }  */
  
  table tr {
    /* background-color: #fdfdfd;  */
    /* border: 1px solid red; */
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.825em;
    text-align: right;
    font-size: var(--font-p) !important;
  }
  
  table th {
    /* font-size: .85em; */
    /* letter-spacing: .1em; */
    /* text-transform: uppercase; */
    background-color: var(--second-bg-color);
    color: var(--text-white-color);
    font-size: var(--font-p) !important;
  }
  
  @media screen and (max-width: 600px) {
      .table > :not(caption) > * > * {
      padding: 0.9rem 0.5rem;
      color: var( --bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)) );
      background-color: var(--bs-table-bg);
      border-bottom-width: var(--bs-border-width);
      box-shadow: inset 0 0 0 9999px var( --bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)) );
    }
    .prise-table-holder {
      border-radius: 0.5vw;
      overflow: hidden;
      border: 2px solid transparent;
    }
    table {
      border: 2px solid #ffffff;
      box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0);
      border-color: transparent !important;
    }
  
    .SchadowTable {
      width: 100%;
      box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0);
  
      transition: all 0.15s linear;
    }
  
    .SchadowTable.active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
  
    table caption {
      /* font-size: 1.3em; */
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border: 2px solid var(--second-bg-color);
      /* border-bottom: 3px solid var(  --second-bg-color); */
      display: block;
      margin-bottom: 0.625em;
      border-radius: 1.5vw;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      /* text-transform: uppercase; */
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  