body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", "sans-serif "!important;
}
:root {
  --main-bg-color: rgb(18, 27, 252);
  --second-bg-color: #fdfbec;
  --text-white-color: #ffffff;
  --text-black-color: #040900;
}

/* ========== Colors ========= */
.main-color {
  color: rgb(18, 27, 252);
}
.second-color {
  color: rgb(253, 251, 236);
}

/* section {
  height: 100vh;
} */
/* ========== Letter-space ========= */
.letter-space-04 {
  letter-spacing: -0.04em;
}
.letter-space-05 {
  letter-spacing: -0.05em;
}
/* ========== Fonts ========= */
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

/* ========== Fonts-size ========= */
.font-h1 {
  font-size: clamp(3rem, 1.8rem + 5vw, 8rem);
}
.font-h2 {
  /* font-size: clamp(2.4rem, 1.5rem + 1.5vw, 5rem); */
  font-size: clamp(2.4rem, 1.2rem + 3vw, 5.5rem);
}
.font-h3 {
  /* font-size: clamp(1.6rem, 1rem + 1vw, 2.5rem); */
  font-size: clamp(1.6rem, 0.8rem + 1.4vw, 2.4rem);
}
.font-h4 {
  /* font-size: clamp(1.3rem, 0.9rem + 0.8vw, 2.2rem); */
  font-size: clamp(1.3rem, 0.7rem + 1vw, 2rem);
}
.font-h5 {
  /* font-size: clamp(1.1rem, 0.8rem + 0.6vw, 1.8rem); */
  font-size: clamp(1.1rem, 0.8rem + 0.7vw, 1.7rem);
}
p {
  /* font-size: clamp(1rem, 1.2rem + 0.5vw, 1.5rem); */
  font-size: clamp(1rem, 0.7rem + 0.4vw, 1.4rem) ;
}
button {
  font-size: clamp(
    0.8rem,
    1rem + 0.4vw,
    1.1rem
  ); /* Kleine Schrift für Buttons */
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
